.MenuButton {
  position: relative;
  width: 4.6rem;
  height: 4.6rem;
  z-index: 2;
  margin: 0 1.7rem 4rem;

  @include for-mobile-down {
    margin: 0 1.7rem 0;
  }
  &.MenuButton--main {
    position: fixed;
    top: 4rem;

    @include for-mobile-down {
      top: 1.7rem;
    }
  }
  button {
    padding: 0;
    background: none;
    border: none;

    &:hover {
      cursor: pointer;
    }
  }
}