.Sidebar {
  min-width: 8rem;
  height: 100vh;
  background: $color-main-1;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: grid;
  grid-template-rows: 10rem auto 10rem;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;

  @include for-mobile-down {
    width: 100vw;
    min-height: 8rem;
    display: block;
  }

  &.Sidebar--isVisible {
    animation-name: slide-in-left;

    @include for-mobile-down {
      animation-name: slide-in-top;
    }
  }
  &.Sidebar--isHidden {
    animation-name: slide-out-left;

    @include for-mobile-down {
      animation-name: slide-out-top;
    }
  }
  .menu-button-container {
    height: 100%;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 1px;
    }
    @include for-mobile-down {
      width: 100%;
      display: grid;
      grid-template-columns: 25% 25% 25% 25%;
      grid-template-rows: 8rem 8rem 8rem 8rem;
      justify-items: left;
      align-items: center;
    }
  }
}

// Animations
@keyframes slide-out-left {
  0% {
    left: 0;
  }
  100% {
    left: -8rem;
  }
}
@keyframes slide-in-left {
  0% {
    left: -8rem;
  }
  100% {
    left: 0;
  }
}
@keyframes slide-out-top {
  0% {
    top: 0;
  }
  100% {
    top: -100vh;
  }
}
@keyframes slide-in-top {
  0% {
    top: -100vh;
  }
  100% {
    top: 0;
  }
}
