h1,
h2,
h3,
a,
li,
button,
p,
label {
  font-family: $font-main;
}

h1 {
  font-size: 3rem;
  font-weight: 300;
  font-style: italic;
}

h2 {
  font-size: 2.5rem;
  font-weight: 600;
}

p,
label {
  font-size: 2rem;
  font-weight: 400;
}

button {
  cursor: pointer;
}

input[type="checkbox"] {
  width: 1.5rem;
  height: 1.5rem;
}

.empty-button-space {
  margin: 12rem 0;
}

.label--hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
}

.form-single-input {
  @include flex(row, space-between, center);
  flex-wrap: nowrap;
  border: 1px solid $color-font-dark;
  border-radius: $border-radius;
  height: 4rem;

  input {
    width: 100%;
    padding: 0 1rem;
    background: none;
    border: none;
    outline: none;
    font-size: 2rem;
  }
  button {
    height: 3.8rem;
    width: 4rem;
    border: none;
    outline: 1px solid black;
  }
}
