html {
  background: $color-background;
}

.empty-button-space {
  margin: 12rem;
}

header {
  color: $color-main-1;
}

.main {
  margin: 4rem 4rem 4rem 12rem;
}

// Components
.MenuButton {
  width: 4.6rem;
  height: 4.6rem;
  margin: 4rem 1.7rem 0;
  z-index: 1;
  padding: 0;
  background: none;
  border: none;

  &:hover {
    cursor: pointer;
  }
  &.MenuButton--main {
    position: absolute;
    top: 0;
  }
}

.Sidebar {
  width: $sidebar-width;
  height: 100vh;
  background: $color-main-1;
  position: absolute;
  top: 0;

  &.Sidebar--isVisible {
    left: 0;
  }
  &.Sidebar--isHidden {
    left: -$sidebar-width;
  }
}

.WidgetContainer {
  width: 100%;
  min-height: 10rem;
  margin: 4rem 0;
  background: $color-widget-background;
  color: $color-widget-font;
  border-radius: $border-radius;
  h2 {
    margin-bottom: 2rem;
  }
}

.Widget {
  padding: 2rem;
}