html {
  background: $color-background;
}

header {
  color: $color-main-1;
  margin-left: 6rem;
}

.main {
  margin: 4rem;

  &.menu-on {
    margin-left: 12rem;

    header {
      margin-left: 0;
    }
  }
}

// Components
.MenuButton {
  position: relative;
  width: 4.6rem;
  height: 4.6rem;
  margin: 4rem 1.7rem 0;
  z-index: 1;

  &.MenuButton--main {
    position: absolute;
    top: 0;
  }
  button {
    padding: 0;
    background: none;
    border: none;

    &:hover {
      cursor: pointer;
    }
  }
}

.ButtonHoverMessage {
  max-width: none;
  max-height: none;
  position: absolute;
  top: 0.5rem;
  left: 8rem;
  z-index: 2;
  width: 20rem;
  height: 4rem;
  background: white;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  
  p {
    padding: 0.75rem 0.5rem;  
  }
}

.Sidebar {
  width: $sidebar-width;
  height: 100vh;
  background: $color-main-1;
  position: absolute;
  top: 0;

  &.Sidebar--isVisible {
    left: 0;
  }
  &.Sidebar--isHidden {
    left: -$sidebar-width;
  }
}

.WidgetContainer {
  max-width: 80rem;
  min-height: 10rem;
  margin: 4rem 0;
  background: $color-widget-background;
  color: $color-widget-font;
  border-radius: $border-radius;
  
  h2 {
    margin-bottom: 2rem;
  }
}

.Widget {
  padding: 2rem;
}

.Task {
  display: grid;
  grid-template-columns: 4rem auto 3rem;
  align-items: center;
  padding: 1rem;
  background: lightblue;
  margin: 1rem 0;
  border-radius: $border-radius;

  input[type="checkbox"] {
    width: 2rem;
    height: 2rem;
  }

  &.Task--completed {
    background: darkgray;
  }

  .btn-delete-task {
    background: none;
    border: none;
    width: 2rem;
    height: 2rem;
    justify-self: end;
  }
}