@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-wrap: wrap;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

// Media Queries
@mixin for-mobile-down {
  @media (max-width: 600px) { @content; }
}